div.banner {
	height: 150px;
	background-image: url('./banner.png');
	background-size: cover;
	background-repeat: no-repeat;
}

blockquote {
font-family: "Georgia", serif;
font-size: 20px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
/*color: #383838;*/
color: #E5764E;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
/*color: #7a7a7a;*/
color: #E5764E
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	div.banner {
		/*height: 150px;*/
		background-image: url('./mobile_logo.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
	}

	.goal-container {
		width: 100%;
	}
}